#container{margin: 0 auto; width: 960px; text-align: center;}

.navbar-default{
	background-color: transparent;
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: 400;
}

.nav>li {
    position: relative;
    display: inline-block;
    padding-top: 10px;
}

.navbar-default .navbar-nav>li>a {
	color: #f9f9f9;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-nav>li>a:active {
	color: #ff5555;
}

.navbar-right {
    float: right!important;
    margin-right: -15px;
    margin-top: 14px;
}

#landing, #match {
	background-image: url("../img/landingpic.svg");
	background-position:50% 50%; 
	background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
    background-size:cover; 
    min-height: 750px;
    max-width: 100%;
    text-align: center;
}

#match{
	background-image: url("../img/landingpic.svg");
	background-position:50% 50%; 
	background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
    background-size:cover; 
    width: 100%;
    max-height: 100%;
    text-align: center;
}

#match1 .navbar-right {
    float: right!important;
    margin-right: -15px;
    margin-top: -38px;
}

#landing img{
	width: 25%;
	height: auto;
	margin-top: -120rem;
	margin-left: -50rem;
	position: relative;
}

#landing #landing-overlay, #match #match-overlay {
	background-color: rgba(26,26,26, 127);
	opacity: 0.6;
	background-position:50% 50%; 
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover; 
    min-height: 750px;
    max-width: 100%;
}

#landing > h1, #match > h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 28px;
	font-weight: 200;
	color: #f9f9f9;
	margin-top: -36rem;
	position: relative;

}

#gh-wrapper1, #gh-text1{
	display: block;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	
}

#gh-wrapper2, #gh-text2{
	display: none;
}

.github-button {
	height: 85px;
	width: 275px;
	background-color: #ff5555;
	color: #f9f9f9;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 22px;
	padding: 30px 0;
	vertical-align: middle;
	border-radius: 80px;
	box-shadow: 0 5px 0 rgb(253,61,61);
	position: relative;
	display: inline-block;
	margin: 37px 20px 0 20px;

}


html, body {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    line-height: 0;
}
 
#about {
    width: 100%;
    height: 800px;
    position: relative;
}

 
.header {
    display: table-cell;
    background-color: rgba(255,82,82,0.8);
    height: 110px;
    width: 260px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 50px;
    z-index: 10;
}
 
.header > p {
    text-align: center;
    margin: 0;
    font-size: 60px;
    color: #f9f9f9;
    font-family: Montserrat, sans-serif;
    line-height: 110px;
}
 
.left {
    /*display: table-cell;*/
    position: absolute;
    left: 0;
    top: 0;
    float: left;
    width: 64%;
    height: 100%;
}

 
.bg {
    background: url("../img/code.jpg") 100% 100% no-repeat;
   /* top: 0;
    left: 0;*/
    float: left;
    position: absolute;
    width: 100%;
    height: 100%;*/
    background-position:50% 50%; 
	background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
    background-size:cover; 
    min-height: 750px;
    max-width: 100%;
    text-align: center;
}
 
.right {
    position: absolute;
    right: 0;
    top: 0;
    /*float: left;*/
    width: 50%;
    height: 100%;
    background-color: #ff5555;
}
 
#footer {
    position: relative;
    background-color: #ff3333;
    width: 100%;
    height: 100px;
}
 
#footer p {
    font-family: Open Sans, sans-serif;
    font-size: 22px;
    color: #f9f9f9;
 
}
 
#footer_text {
    margin: 0 0 0 30px;
    float: left;
    line-height: 100px;
    /*text-align: left;*/
}
 
#social {
    float: right;
    /*text-align: right;*/
    margin: 0 30px 0 0;
    line-height: 100px;
}
 
#social i {
    margin: 0 10px 0 10px;
}

.text-wrapper{
	line-height: 1.5;
	color: #f9f9f9;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;
	width: 500px;
	padding: 5rem;
	display: block;
}


@media(min-width: 320px) and (max-width: 750px){

.nav>li {
    position: relative;
    display: inline-block;
    padding-top: 10px;
}

#landing img{
	width: 70%;
	height: auto;
	position: relative;
	margin-top: -100rem;
	margin-left: 0rem;
}

.right {
    width: 0;
    height: 0;
}

.left {
    width: 100%;
}

.text-wrapper{
	width: 320px;
	padding: 1rem;
	margin-top: 110px;
}


#gh-wrapper1, #gh-text1{
	display: none;
	
}

#gh-wrapper2, #gh-text2{
	display: block;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	position: relative;
		
}


}