<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="..\static\gitlove.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	</head>
	<body>

		<div class="container">
			<div class="card_container">
				<div class="card_row">
					<div class="card">
						<div class="card_img"></div>
						<div class="text_container">
							<h1>brandondgr8</h1>
							<h2>Last active 1 day ago</p>
							<p>Loves <strong>fun</strong> projects</p>
							<p>Uses <strong>HTML</strong>, <strong>CSS</strong>, <strong>Javascript</strong></p>
							<p>Currently on a <strong>5 day streak</strong></p>
						</div>
					</div>
					<div class="card">
						<div class="card_img"></div>
						<div class="text_container">
							<h1>brandondgr8</h1>
							<h2>Last active 1 day ago</p>
							<p>Loves <strong>fun</strong> projects</p>
							<p>Uses <strong>HTML</strong>, <strong>CSS</strong>, <strong>Javascript</strong></p>
							<p>Currently on a <strong>5 day streak</strong></p>
						</div>
					</div>
				</div>

				<div class="card_row">
					<div class="card">
						<div class="card_img"></div>
						<div class="text_container">
							<h1>brandondgr8</h1>
							<h2>Last active 1 day ago</p>
							<p>Loves <strong>fun</strong> projects</p>
							<p>Uses <strong>HTML</strong>, <strong>CSS</strong>, <strong>Javascript</strong></p>
							<p>Currently on a <strong>5 day streak</strong></p>
						</div>
					</div>
					<div class="card">
						<div class="card_img"></div>
						<div class="text_container">
							<h1>brandondgr8</h1>
							<h2>Last active 1 day ago</p>
							<p>Loves <strong>fun</strong> projects</p>
							<p>Uses <strong>HTML</strong>, <strong>CSS</strong>, <strong>Javascript</strong></p>
							<p>Currently on a <strong>5 day streak</strong></p>
						</div>
					</div>
				</div>

				<div class="card_row">
					<div class="card">
						<div class="card_img"></div>
						<div class="text_container">
							<h1>brandondgr8</h1>
							<h2>Last active 1 day ago</p>
							<p>Loves <strong>fun</strong> projects</p>
							<p>Uses <strong>HTML</strong>, <strong>CSS</strong>, <strong>Javascript</strong></p>
							<p>Currently on a <strong>5 day streak</strong></p>
						</div>
					</div>
					<div class="card">
						<div class="card_img"></div>
						<div class="text_container">
							<h1>brandondgr8</h1>
							<h2>Last active 1 day ago</p>
							<p>Loves <strong>fun</strong> projects</p>
							<p>Uses <strong>HTML</strong>, <strong>CSS</strong>, <strong>Javascript</strong></p>
							<p>Currently on a <strong>5 day streak</strong></p>
						</div>
					</div>
				</div>

			</div>
			
			
		</div>

<!-- 		<div id="about">
			<div class="left">
				<div class="header"><p>about</p></div>
				<div class="bg"></div>
			</div>
			<div class="right">
				<p class="about_text"></p> -->
				<!-- put button here -->
			<!-- </div> -->
		<!-- </div> -->


<!-- 		<div id="footer">
			<p id="footer_text">Made for <i class="fa fa-heart"></i></p>
			<p id="social">
				<i class="fa fa-envelope"></i> 
 				<i class="fa fa-github"></i> 
 				<i class="fa fa-facebook"></i> 
 				<i class="fa fa-twitter"></i> 
 				<i class="fa fa-paypal"></i>
			</p>
		</div> -->



	</body>
</html>